{% extends "base.html" %}
{% block content %}

<div class="container py-5 text-center">

    <div class="card shadow mx-auto" style="max-width:500px;">
        <div class="card-body">

            <h2 class="text-danger mb-3">Payment Failed</h2>

            <p>
                Something went wrong while processing your payment.
            </p>

            <a href="{% url 'pricing' %}" class="btn btn-warning mt-3">
                Try Again
            </a>

        </div>
    </div>

</div>

{% endblock %}