{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Choose a Plan</h2>
    <div class="row justify-content-center">
        {% for plan in plans %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body text-center">
                    <h5 class="mb-3">{{ plan.name }}</h5>
                    <p class="h4 mb-3">₦{{ plan.price|floatformat:2 }}</p>
                    <a href="{{ plan.link }}" target="_blank" class="btn btn-primary">
                        Pay for {{ plan.name }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}